rollbar_access_token:
newrelic_license_key:

renotification_password:
friendfinder_password:

users_db_host:
users_db_name:
users_db_username:
users_db_password:

events_db_host:
events_db_name:
events_db_username:
events_db_password:
